<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= album%></p>
    <div class="container">
        <% for (var i = 0; i < pic.length; i++) { %>
        <a href="/pic/<%= pic[i].picture_id %>"><img src="/<%= pic[i].imgdata%>" class="img-thumbnail" style="height:200px"></a>
        <% } %>
    </div>
  </body>
</html>
