<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
        <% console.log(picture) %>
        <img src ="/<%= picture.imgdata %>" class="img-responsive">
        <h4>Caption: <%= picture.caption %> </h4>

    </div>

    <div class="container">
      <form class="form-signin" action="/pic/<%= picture.picture_id %>/comment" method="POST">
        <input type="text" class="form-control" placeholder="Comment" id="text" name="text" required>
        <button class="btn btn-lg btn-success btn-block" type="submit">Comment</button>    
      </form>
    </div>

    <div class="container">
      <form class="form-signin" action="/pic/<%= picture.picture_id %>/like" method="POST">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Like</button>    
      </form>
    </div>

    <div class="container">
      <ul>
        <% comment.forEach(function(el, i) {%>
        <h6><%=comment[i].user_id%></h6>
        <h6><%=comment[i].email%></h6>
        <h6><%=comment[i].comment_date%></h6>
        <h4><%=comment[i].text%></h4>
        <br>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
