<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="container">
      <ul>
      <%=console.log(response);%>
        <% response.forEach(function(el, i) {%>
          <div class="row">
            <div class="col-md-6">
              <li><%=response[i].email%></li>
            </div>
            <div class="col-md-6">
              <li><%=response[i].score%></li>
            </div>
          </div>
        <% }) %>
      </ul>
      <a class="btn btn-lg btn-default btn-block" href="/home">Go home</a>
    </div>
  </body>
</html>